@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .custom-scrollbar::-webkit-scrollbar{
        width: 4px;
    }
    .no-scrollbar::-webkit-scrollbar{
       display:none
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb{
        background-color: #bc72c8;
        width: 5px;
        border-radius: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb{
        background-color: #520f5c;
    }



}